<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./ui.css">
    <title>瑞文斯二手车交易中心</title>
</head>
<body>
    <div class="sell-container" id="app">
        <div id="sell-contract" class="centred">
            <div id="form-header" class="v-centred-container">
                <object type="image/svg+xml" data="logo.svg" class="logo">
                    店铺标志 <!-- CSS 中的备用图像 -->
                </object>
                <div>
                    <div id="biz-name" class="vertical-center">{{ bizName }}</div>
                </div>
            </div>

            <div id="the-form" class="centred">
                <div class="form-entry">
                    <div id="seller-name" class="form-field">{{ sellerName }}</div>
                    <span class="form-field-summary">（卖家姓名）</span>
                </div>
                <div class="form-entry">
                    <div id="seller-banknr" class="form-field">{{ bankAccount }}</div>
                    <span class="form-field-summary">（银行账号）</span>
                </div>
                <div class="form-entry">
                    <div id="seller-telnr" class="form-field">{{ phoneNumber }}</div>
                    <span class="form-field-summary">（联系电话）</span>
                </div>
                <div class="form-entry">
                    <div id="vehicle-plate" class="form-field">{{ licensePlate }}</div>
                    <span class="form-field-summary">（车辆牌照）</span>
                </div>
                <div class="form-entry">
                    <div class="form-field" v-if="mode==='sellVehicle'">
                        <input type="text"
                            class="vehicle-description"
                            maxlength="500"
                            placeholder="请输入车辆描述，最多 500 字"
                            v-model="vehicleDescription">
                    </div>
                    <span class="form-field-summary" v-if="mode==='sellVehicle'">（车辆描述，最多 500 字）</span>
                    <div id="vehicle-plate" class="form-field" v-if="mode==='buyVehicle'">{{ vehicleDescription }}</div>
                </div>

                <div class="form-entry" v-if="mode==='sellVehicle'">
                    <table class="pricing-table centred-h">
                        <tr><td><span class="table-field-heading">出售价格：</span>
                            <input type="text"
                                class="vehicle-sell-price"
                                placeholder="请输入出售价格"
                                v-model="sellPrice">
                        </td></tr>
                        <tr><td><span class="table-field-heading">税费：</span><span id="tax"> &dollar; {{ tax }}</span></td></tr>
                        <tr><td><span class="table-field-heading">抽成：</span><span id="mosley-cut"> &dollar; {{ mosleys }}</span></td></tr>
                        <tr><td><span class="table-field-heading">最终收入：</span><span id="total-money"> &dollar; {{ total }}</span></td></tr>
                    </table>
                </div>

                <div class="form-entry" v-if="mode==='buyVehicle'">
                    <table class="pricing-table centred-h">
                        <tr><td><span class="table-field-heading">车辆价格：</span><span id="tax"> &dollar; {{ sellPrice }}</span></td></tr>
                    </table>
                </div>

                <div class="btn" id="sell-vehicle" v-if="mode==='sellVehicle'" @click="sell(sellPrice)"><p>出售</p></div>
                <div class="btn" id="buy-vehicle" v-if="mode==='buyVehicle'" @click="buy()"><p>购买</p></div>
                <div class="btn" id="buy-vehicle-back" v-if="showTakeBackOption" @click="takeBack()"><p>撤销出售</p></div>

                <div v-if="errors.length" class="errors centred-h">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <script src="./vue.min.js"></script>
    <script src="./ui.js"></script>
</body>
</html>
